<div class="container pt-3">
    <h2>Ingrese su producto</h2>
    <form form id="productForm">
        <div class="mb-3">
            <label for='title' , class='form-label'>Nombre del producto</label>
            <input type='text' , class='form-control' , name='title' , id="title">
        </div>
        <div class="mb-3">
            <label for='price' , class='form-label'>Precio del producto</label>
            <input type="number" , class='form-control' , name='price' , id="price">
        </div>
        <div class="mb-3">
            <label for='thumbnail' , class='form-label'>Imagen</label>
            <input type="text" , class='form-control' , name='thumbnail' , id="thumbnail" , aria-describedby='examples'>
        </div>
        <button type="submit" , class='btn btn-success me-2'>Enviar</button>
    </form>
    <div id="productsContainer"></div>
</div>

<div class="container">
    <h3>Mensajeria</h3>

    <p id="email"></p>
    <form id="chatForm">
        <input type="text" id="messageEmail">
        <input type="text" id="messageChat">
        <button type="submit">Enviar</button>
    </form>

    <div id="chatContainer"></div>
</div>


{{> importScripts }}
<script src="./socket.io/socket.io.js"></script>
<script src="pIndex.js"></script>